<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    
    <!-- Put your css files here to have them load in development. In production they will be concated together. -->
    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <app></app>
    
    <!-- These are the necessary angular2 development files. Don't put your own files here or they won't be included in production. -->
    <!-- build:js -->
    <script src="../node_modules/systemjs/dist/system.js"></script>
    <script src="../node_modules/typescript/lib/typescript.js"></script>
    <script src="../node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="../node_modules/angular2/bundles/http.dev.js"></script>
    <script>
      System.config({
        transpiler: 'typescript',
        typescriptOptions: { emitDecoratorMetadata: true }
      });
      System.import('./app/app.ts');
    </script>
    <!-- endbuild -->
  
  </body>
</html>
